# HashTable and HashMap

In [1]:
# Hash tables or has maps in Python are implemented through the built-in dictionary data type. 
# The keys of a dictionary in Python are generated by a hashing function. 
# The elements of a dictionary are not ordered and they can be changed.

In [5]:
new_dict = dict(a='Brijendra',b='Python',c='Machine Learning')

In [6]:
new_dict

{'a': 'Brijendra', 'b': 'Python', 'c': 'Machine Learning'}

In [9]:
new_dict.keys()

dict_keys(['a', 'b', 'c'])

In [10]:
new_dict.values()

dict_values(['Brijendra', 'Python', 'Machine Learning'])

In [11]:
new_dict['a']

'Brijendra'

In [13]:
new_dict['c']

'Machine Learning'

In [16]:
for x,y in new_dict.items():
    print(x,y)

a Brijendra
b Python
c Machine Learning

In [17]:
new_dict.items()

dict_items([('a', 'Brijendra'), ('b', 'Python'), ('c', 'Machine Learning')])

In [18]:
# Delete element with key

In [19]:
del new_dict['b']

In [20]:
new_dict

{'a': 'Brijendra', 'c': 'Machine Learning'}

## Conversion of dictionary to dataframe

In [34]:
import pandas as pd

In [35]:
a = dict(col1=[3,4,5,6],col2=[3,2,4,5],col3=[8,7,8,8,0])

In [36]:
a

{'col1': [3, 4, 5, 6], 'col2': [3, 2, 4, 5], 'col3': [8, 7, 8, 8, 0]}

In [37]:
a['col1']

[3, 4, 5, 6]

In [38]:
a['col1'][2]

5

In [39]:
del a['col3'][len(a['col3'])-1]

In [40]:
a

{'col1': [3, 4, 5, 6], 'col2': [3, 2, 4, 5], 'col3': [8, 7, 8, 8]}

In [41]:
df = pd.DataFrame(a)

In [42]:
a

{'col1': [3, 4, 5, 6], 'col2': [3, 2, 4, 5], 'col3': [8, 7, 8, 8]}

In [43]:
df

   col1  col2  col3
0     3     3     8
1     4     2     7
2     5     4     8
3     6     5     8

In [45]:
pd.DataFrame.from_dict(a,orient='index')

      0  1  2  3
col1  3  4  5  6
col2  3  2  4  5
col3  8  7  8  8

In [46]:
pd.DataFrame.from_dict(a,orient='columns')

   col1  col2  col3
0     3     3     8
1     4     2     7
2     5     4     8
3     6     5     8

# So you create hashmap we use dictionary in Python.